* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*-webkit-user-modify:read-write-plaintext-only;*/
  font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #f0f3f6;
}
blockquote {
  padding: 20px;
  background-color: #f2f2f2;
  border-left: 6px solid #039e90;
  word-break: break-word;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 20px;
}
hr {
  margin: 0 0 20px;
  border: 0;
  border-top: 1px solid #d9d9d9 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
[contenteditable=true]:focus {
  outline: 1px solid #ccc;
}
button {
  outline: medium;
}
input[type=text] {
  -webkit-appearance: none;
}
.ya-nav-simple {
  text-align: center;
  color: white;
  background: linear-gradient(to right, #ef5252, #6f6ff1);
  width: 100%;
}
.ya-fixed {
  position: fixed;
  top: 0;
  z-index: 100;
}
.ya-absolute {
  position: absolute;
  top: 0;
  z-index: 100;
}
/** iconfont */
.icon {
  width: 16px;
  height: 16px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* 单选框 */
.ya-radio {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.ya-radio + .radioText::before {
  content: "\a0";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-indent: 4px;
  margin-bottom: 4px;
  border: 1px solid #CCCCCC;
}
.ya-radio:checked + .radioText::before {
  background-color: #009688;
  background-clip: content-box;
  padding: 2px;
  width: 12px;
  height: 12px;
}
/* 动画 */
.ya-rotationInfinite {
  display: inline-block;
  transition: 0.5s;
  animation: rotate360 0.7s linear infinite;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*::-webkit-scrollbar,
.ya-treeBody::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}
*::-webkit-scrollbar-thumb,
.ya-treeBody::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 8px;
  background-color: #009688;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}
*::-webkit-scrollbar-track,
.ya-treeBody::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  /*background: #EDEDED;*/
}
.ya-p {
  background: white;
  box-shadow: 0 8px 12px #ebedf0;
  padding: 10px;
  margin: 10px 5px;
  border-radius: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 12px 0 5px 0;
}
h1 {
  color: black;
  font-size: 25px;
}
h2 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
}
h3 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}
h4 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}
h5 {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}
h6 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
.white {
  color: white;
}
.red {
  color: #fd8880;
}
.blue {
  color: #5cccda;
}
.green {
  color: #44e293;
}
.grey {
  color: rgba(0, 0, 0, 0.5);
}
.orange {
  color: #ffad49;
}
.bg-white {
  background: white;
}
.bg-red {
  background: #fd8880;
}
.bg-blue {
  background: #5cccda;
}
.bg-green {
  background: #44e293;
}
.bg-grey {
  background: #f5f4f4;
}
.bg-orange {
  background: #ffad49;
}
mark {
  padding: 0;
  background-color: #ffe58f;
  color: rgba(0, 0, 0, 0.65);
}
code {
  margin: 0 0.2em;
  padding: 2px 5px 2px;
  font-size: 85%;
  background: rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.65);
}
u {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: rgba(0, 0, 0, 0.65);
}
del {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.65);
}
strong {
  color: rgba(0, 0, 0, 0.7);
}
.textDemo * {
  width: fit-content;
  margin: 5px 0;
}
/* 行列 */
.ya-rows {
  display: flex;
}
.ya-rows .row {
  flex: auto;
}
.ya-flex {
  display: flex;
}
.ya-flex.align-center {
  align-items: center;
}
.ya-flex.align-bottom {
  align-items: flex-end;
}
.ya-flex .flex-auto {
  flex: auto;
}
.ya-flex .flex-1 {
  flex: 1;
}
.ya-flex .flex-2 {
  flex: 2;
}
.ya-flex .flex-3 {
  flex: 3;
}
.ya-flex .flex-4 {
  flex: 4;
}
.ya-flex .flex-5 {
  flex: 5;
}
.ya-flex .flex-6 {
  flex: 6;
}
/* 索引（面包屑导航） */
.ya-indexBar {
  color: #585858;
  margin-bottom: 4px;
  border-bottom: 2px solid #009688;
  padding: 2px;
  overflow-x: auto;
  white-space: nowrap;
  word-break: break-all;
}
.ya-indexBar .item {
  font-size: 13px;
}
.ya-indexBar .item:hover {
  color: #03A9F4;
  cursor: pointer;
}
.ya-indexBar .item svg {
  vertical-align: text-bottom;
}
.ya-indexBar .item:after {
  color: #CCCCCC;
  content: "/";
  font-size: 12px;
  padding: 0 6px;
}
.ya-indexBar .item:last-child {
  color: #03A9F4;
  cursor: pointer;
}
.ya-indexBar .item:last-child:after {
  content: "";
}
.ya-mask .ya-mask-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background: #ffffff00;
}
.ya-header {
  display: flex;
  align-items: center;
}
.ya-header a svg {
  transition: all 0.3s;
  height: 40px;
  width: 40px;
  margin: 5px;
}
.ya-header a svg:hover {
  height: 46px;
  width: 46px;
  margin: 2px;
}
.ya-header .name {
  font-weight: 600;
  font-size: 20px;
}
.ya-header.center a {
  flex: 1;
  text-align: right;
}
.ya-header.center .name {
  flex: 1.5;
  text-align: left;
}
.ya-header-occupied {
  height: 50px;
  content: " ";
}
.ya-menu {
  width: 150px;
  position: fixed;
  left: 0;
}
.ya-menu .content {
  display: inline-block;
}
.ya-menu .content.hide {
  display: none;
}
.ya-menu .toggle {
  position: absolute;
  margin: 8px 0 0 1px;
  padding: 2px 1px;
}
.ya-main {
  padding: 20px 10px;
}
.ya-main.sideLeft {
  padding-left: 160px;
}
.ya-main.sideRight {
  padding-right: 160px;
}
.ya-footer {
  position: fixed;
  bottom: 0;
  font-size: 10px;
  color: #8c8c8c;
  text-align: center;
  width: 100%;
}
.ya-footer .copyright {
  color: #8c8c8c;
  text-decoration: none;
  cursor: pointer;
}
.ya-footer .copyright:hover {
  color: blue;
}
.ya-footer .publicSafety {
  height: 14px;
  width: 14px;
  margin-right: 2px;
  vertical-align: text-bottom;
}
.ya-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  text-align: center;
}
.ya-loading .loader3 {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
.with10 {
  width: 10px;
}
.with20 {
  width: 20px;
}
.with50 {
  width: 50px;
}
.with100 {
  width: 100px;
}
.with200 {
  width: 200px;
}
.with400 {
  width: 400px;
}
.height10 {
  height: 10px;
  line-height: 10px;
}
.height20 {
  height: 20px;
  line-height: 20px;
}
.height50 {
  height: 50px;
  line-height: 50px;
}
.height100 {
  height: 100px;
  line-height: 100px;
}
.height200 {
  height: 200px;
  line-height: 200px;
}
.height400 {
  height: 400px;
  line-height: 400px;
}
.heightFull {
  height: 100%;
  box-sizing: border-box;
}
.padding0 {
  padding: 0;
}
.padding0-10 {
  padding: 0 10px;
}
.padding10 {
  padding: 10px;
}
.margin0-10 {
  padding: 0 10px;
}
.margin10 {
  padding: 10px;
}
.ya-radius5 {
  border-radius: 5px;
}
.ya-radius10 {
  border-radius: 10px;
}
.center {
  text-align: center;
}
.ya-greenBorder {
  display: inline-block;
  color: #00af00;
  border: 1px solid #00af00;
  border-radius: 5px;
  margin: 5px;
  padding: 0 2px;
}
.ya-greenBorder span {
  margin: 2px;
}
/*# sourceMappingURL=index.css.map */